[Desktop Entry]
Type=Application
Name=Labwcbox
GenericName=Nested application launcher
Comment=Open an X11 application inside nested Labwc
Icon=labwc
Exec=/usr/bin/labwcbox
Terminal=false
Categories=Utility;
Keywords=Labwc;Nested;X11;Compatibility;Mango;Wayland;
StartupNotify=true
